md-toolbar {
  z-index: 10;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.example-sidenav-fab-container {
  width: 150px;
  height: 100vh;
}

ul {
  list-style-type: none;
}

.navbar-list {
  float: right;
}

li {
  text-align: justify;
  cursor: pointer;
}

.main_content {
  display: inline-flex;
}

.selected {
  background-color: #ffff45;
}
