md-toolbar {
  z-index: 10;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  position: fixed;
}

ul {
  list-style-type: none;
}

li {
  font-size: 24px;
}

hr {
  border-top: 1px solid black;
}

.nav-items ul li:hover {
  color: red;
}

.create-item {
  margin-top: 60px;
}

.nav-items {
  margin-top: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.main-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
  min-width: 100%;
}

.side-navbar {
  min-height: 100px;
}

.child-content {
  min-height: 100vh;
}

.box1 {
  width: 100%;
  background-color: #E91E63;
}

.box2 {
  width: 100%;
  background-color: white;
}

.square {
  background-color: skyblue;
  height: 100px;
  margin: 20px;
  display: flex;
  flex-flow: row wrap
}

.show-notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}


/*
.nav-items {
  display: flex;
  justify-content: center;
}*/


/*
li {
  list-style-type: none;
  color: white;
  display: inline;
  margin: 16px;
}*/


/*
.side-button {
  display: flex;
  justify-content: flex-start;
}*/

#app-title {
  text-align: center;
  margin: 10px;
}

.side {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #E91E63;
}

.example-sidenav {
  width: 40%;
  display: flex;
  flex-flow: column;
  background-color: white;
  height: 100%;
}

@media(min-width:768px) {
  .main-content {
    width: 100%;
    margin: auto 0;
  }
  .box1 {
    width: 15%;
    bottom: 0;
  }
  .box2 {
    width: 100%;
    bottom: 0;
  }
}

md-spinner {
  margin: 24px auto 0;
}
