.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.note-content {
  display: flex;
  flex-direction: column;
}

.note-submit-btn {
  width: 200px;
  margin: 0 auto;
  border-radius: 20px;
}

.create-note-header {
  text-align: center;
}

.create-note-form {
  margin: 0 auto;
  width: 90%;
  font-size: 20px;
}
