.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.note-content {
  display: flex;
  flex-direction: column;
}

.note-submit-btn {
  min-width: 100%;
  margin: 0 auto;
}

.note-submit-btn:hover {
  background-color: #E91E63;
  color: white;
}

.create-note-header {
  text-align: center;
}

.create-note-form {
  margin: 0 auto;
  width: 90%;
  font-size: 20px;
}
